$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;

.Design {
    width: 100%;
  }
  
  .WelcomeText {
    text-align: center;
    margin: auto;
    max-width: 460px;
  }
  
  .Ville {
    display: block;
    max-width: 100%;
    margin: 50px auto 0 auto;
    height: auto;
    clip-path: polygon(100% 100%, 100% 10%, 0% 0%, 0 100%);
  }

  .ContactButtons {
    width: 90%;
    margin: 5px auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Gmail {
    height: 18px;
    width: auto;
    padding: 8px;
  }

  .LinkedIn {
    height: 20px;
    width: auto;
  }

  .MuiButton-root {
    margin: 0px 10px !important;
    width: 145px;
    height: 45px;

    font-family: 'Antic Slab', serif !important;
    font-size: 14px !important;
  }

  input {
    position: absolute;
    color: #3b3b3b;
    background-color: #3b3b3b;
    font-size: 1px;
    border: none;
    cursor: default;
  }

  @media only screen and (min-width: 1366px) {

    .WelcomeText {
      margin: auto;
      max-width: 800px;
      margin-top: 150px;
    }

    .WelcomeText p {
      text-align: center;
      font-size: 26px;
    }

    .ContactButtons {
      margin: 10px auto 30px auto;
    }

    .Gmail {
      height: 30px;
      width: auto;
      padding: 8px;
    }

    .LinkedIn {
      height: 30px;
      width: auto;
    }

    .MuiButton-root {
      margin: 0px 15px !important;
      width: 240px;
      height: 56px;

      font-family: 'Antic Slab', serif !important;
      font-size: 18px !important;
    }

  }