$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;

.MuiAppBar-colorPrimary {
    color: $secondary !important;
    background-color: $navbar-background !important;
}

.MuiTypography-h3 {
    font-family: 'Antic Slab', serif !important;
    font-size: 24px !important;
}

.MuiToolbar-root {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between !important;
}

@media (min-width: 0px) and (orientation: landscape) {
.MuiToolbar-regular {
    min-height: 56px !important;
}
}

.NavLogo {
    width: 36px;
    height: auto;
}

.NavMenu {
    width: 100vw;
    height: 100px;
    background-color: $navbar-background;
    position: fixed;
    margin-top: 56px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a {
    color: $secondary;
    text-decoration: none;
    font-size: 24px;
}