$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;
  
  .ProjectItem{
    margin: auto;
    max-width: 460px;
    text-align: center;
    margin: 0px auto 50px auto;

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 20px;
    margin: 0px;
  }

  .MuiButton-root {
    margin: 0px 8px !important;
    padding: 6px 0 !important;
    width: 120px;
    height: 40px;

    font-family: 'Antic Slab', serif !important;
    font-size: 14px !important;
  }

  .GitHubButton {
    background-color: $navbar-background !important;
  }

  .GitHubButton:hover {
    background-color: #111111 !important;
  }
}

  @media only screen and (min-width: 1366px) {

    .ProjectItem {
      margin: auto;
      max-width: 800px;
      margin: 0px auto 60px auto;
    
        p {
          text-align: center;
          font-size: 15px;
        }

        h3 {
          font-size: 24px;
          margin: 2px;
        }

        .MuiButton-root {
          margin: 0px 8px !important;
          width: 145px;
          height: 45px;
    
          font-family: 'Antic Slab', serif !important;
          font-size: 15px !important;
        }

  }

  }