$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;
  
.Design {
    width: 100%;
  }  

    .ProjectInfo {
        margin: auto;
        max-width: 460px;
        text-align: center;
        margin: 0px auto 20px auto;

            p {
              font-size: 14px;
            }

            h3 {
              font-size: 20px;
              margin: 0 0 10px 0;
            }

            .MuiButton-root {
              margin: 0px 8px !important;
              width: 120px;
              height: 40px;

              font-family: 'Antic Slab', serif !important;
              font-size: 14px !important;
            }

    }

    .ProjectMaterial {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding: 0;
      // margin-bottom: 40px;

      p {
        font-size: 15px;
      }

    .ColumnOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 30px);
        max-width: 460px;
        height: 100%;
        margin: 0 auto 40px auto;
        padding: 0px 15px;
        justify-content: flex-start;

        .Screenshot {
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }

        span {
            display: block;
        }
    }

    .ColumnTwo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 30px);
      max-width: 460px;
      height: 100%;
      margin: 0 auto 50px auto;
      padding: 0px 15px;

      .LogoPair {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
      }

      img {
        padding: 8px;
      }

      .MuiButton-root {
        margin: 5px !important;
        width: 145px;
        height: 45px;

        font-family: 'Antic Slab', serif !important;
        font-size: 15px !important;
      }

      }

      }

  @media only screen and (min-width: 1366px) {

    .ProjectInfo {
      margin: auto;
      max-width: 800px;
      margin: 0px auto 20px auto;
    
          p {
            text-align: center;
            font-size: 15px;
          }

          h3 {
            font-size: 24px;
            margin: 2px;
          }

          .MuiButton-root {
            margin: 0px 8px !important;
            width: 145px;
            height: 45px;
      
            font-family: 'Antic Slab', serif !important;
            font-size: 15px !important;
          }

  }

      .ProjectMaterial {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 40px;

        p {
          font-size: 15px;
        }

      .ColumnOne {
          display: inline-flex;
          flex-direction: column;
          width: calc(75% - 30px);
          height: 100%;
          margin: 0;
          padding: 0px 15px;
          justify-content: flex-start;

          .Screenshot {
              display: block;
              max-width: 100%;
              height: auto;
              object-fit: contain;
          }

          span {
              display: block;
          }
      }

      .ColumnTwo {
        display: inline-flex;
        flex-direction: column;
        width: calc(25% - 30px);
        height: 100%;
        margin: auto 0;
        padding: 0px 15px;
        justify-content: flex-start;

        .LogoPair {
          display: flex;
          flex-direction: row;
          margin: 0 auto;
        }

        img {
          padding: 8px;
        }

        .MuiButton-root {
          margin: 5px !important;
          width: 145px;
          height: 45px;

          font-family: 'Antic Slab', serif !important;
          font-size: 15px !important;
        }

        }

        }

}