$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;

.App {
  height: 100vh;
  background-color: $primary;
  color: $secondary;
}

.SplashScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  text-align: center;
}

.LogoFrame {
  width: 40vw;
  max-width: 275px;
  height: 80vh;
  max-height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Logo {
  max-width: 250px;
  width: 80%;
  height: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: LogoAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes LogoAnimation {
    from {
      -webkit-transform: translateY(0); /* Safari prior 9.0 */
      transform: translateY(0);
    }

    to {
      -webkit-transform: translateY(-20px); /* Safari prior 9.0 */
      transform: translateY(-20px);
    }
  }

.MuiLinearProgress-root {
  max-width: 275px;
  width: 100%;
  height: 15px !important;
  border-radius: 5px;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  margin: 0;
  font-size: 14px;
  padding: 20px 0;
}

.Content {
  padding: 0px 15px;
  margin-top: 100px;
  opacity: 1;
  animation: ContentIn;
  animation-duration: 1s;
  animation-iteration-count: initial;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

@keyframes ContentIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(300px); /* Safari prior 9.0 */
    transform: translateY(300px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px); /* Safari prior 9.0 */
    transform: translateY(0px);
  }
}

.Ville {
  display: block;
  max-width: 100%;
  margin: 25px auto 0 auto;
  height: auto;
  clip-path: polygon(100% 100%, 100% 10%, 0% 0%, 0 100%);
}

@media only screen and (min-width: 1366px) {

  .Content {
    width: 800px;
    margin: 70px 0 0 calc((72vw - 978px) / 2 + 178px);
    padding: 0;
  }

}