$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;


  
  .WelcomeText {
    margin: auto;
    max-width: 460px;

    .Design {
      width: 100%;
      padding: 10px 0px;
    }
  
    p {
    padding: 10px 0px;
    text-align: center;
    }

    ul {
    width: 50%;
    text-align: left;
    margin: 0 auto;
  }

}

  @media only screen and (min-width: 1366px) {

    

    .WelcomeText {
      margin: auto;
      max-width: 800px;
      padding-bottom: 80px;
    
      .Design {
        width: 100%;
        padding: 15px 0px;
      }

    p {
      text-align: center;
      font-size: 22px;
      padding: 10px 0px;
    }

    ul {
      width: 38%;
      text-align: left;
      margin: 0 auto;
    }

  }

  }