$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;

.Design {
    width: 100%;
  }
  
  .WelcomeText {
    margin: auto;
    max-width: 460px;
  }

  @media only screen and (min-width: 1366px) {

    .WelcomeText {
      margin: auto;
      max-width: 800px;
      margin-top: 150px;
    }

    .WelcomeText p {
      text-align: center;
      font-size: 24px;
    }

  }