$primary: #3B3B3B;
$secondary: #FFFFFF;
$navbar-background: #222222;

$effect1: #A89F85;
$support1: #645C48;

$effect2: #51789A;
$support2: #425667;

.MuiTypography-h3 {
    font-family: 'Antic Slab', serif !important;
    font-size: 24px !important;
}

.MuiToolbar-root {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between !important;
}

.NavLogo {
    width: 36px;
    height: auto;
}

.NavMenu {
    width: 100vw;
    height: 100px;
    background-color: $navbar-background;
    position: fixed;
    margin-top: 56px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

a {
    color: $secondary;
    text-decoration: none;
    font-size: 24px;
}

.ColumnImage {
    display: none;
}

@media only screen and (min-width: 1366px) {

    .MuiTab-root {
        font-family: 'Antic Slab', serif !important;
        font-size: 32px !important;
        text-transform: none !important;
    }

    .MuiTab-textColorPrimary.Mui-selected {
        color: $effect1 !important;
    }

    .MuiTab-textColorPrimary {
        color: $secondary !important;
    }

    .ColumnNavigation > div > div > span {
        height: 5px !important;
    }

    .NavBarDesktop {
        width: 72vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        vertical-align: top;
        margin: 0;
        padding: 0;
    }
    
    .ColumnLogo{
        width: 178px;
    }

    .ColumnNavigation {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }

    .ColumnImage {
        display: inline-flex;
        position: fixed;
        width: 28vw;
        height: 100vh;
        margin: 0;
        padding: 0;
      
        background-image: url("../../images/ville-bnw.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
      }

    .NavLogo {
        width: 138px;
        height: auto;
        padding: 20px 20px 0px 20px;
        position: fixed;
    }

}

@media (min-width: 0px) and (orientation: landscape) {

    .MuiToolbar-regular {
        min-height: 56px !important;
    }
    
}